@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 3.1.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest (the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>Metronic Frontend (with Top Bar)</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="Metronic Shop UI description" name="description">
    <meta content="Metronic Shop UI keywords" name="keywords">
    <meta content="keenthemes" name="author">
    <meta property="og:site_name" content="-CUSTOMER VALUE-">
    <meta property="og:title" content="-CUSTOMER VALUE-">
    <meta property="og:description" content="-CUSTOMER VALUE-">
    <meta property="og:type" content="website">
    <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
    <meta property="og:url" content="-CUSTOMER VALUE-">
    <link rel="shortcut icon" href="~/Views/Home/favicon.ico">
    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <!-- Fonts END -->
    @Styles.Render("~/Content/css")
    <!-- Theme styles END -->
</head>
<!-- Head END -->
<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN STYLE CUSTOMIZER -->
    <div class="color-panel hidden-sm">
        <div class="color-mode-icons icon-color"></div>
        <div class="color-mode-icons icon-color-close"></div>
        <div class="color-mode">
            <p>THEME COLOR</p>
            <ul class="inline">
                <li class="color-red current color-default" data-style="red"></li>
                <li class="color-blue" data-style="blue"></li>
                <li class="color-green" data-style="green"></li>
                <li class="color-orange" data-style="orange"></li>
                <li class="color-gray" data-style="gray"></li>
                <li class="color-turquoise" data-style="turquoise"></li>
            </ul>
        </div>
    </div>
    <!-- END BEGIN STYLE CUSTOMIZER -->
    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>info@keenthemes.com</span></li>
                    </ul>
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li title="Manage your account">
                            @Html.ActionLink("Login", "Login", "Account") |
                            @Html.ActionLink("Register", "RegisterUser", "Account")
                        </li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>
    </div>
    <!-- END TOP BAR -->
    <!-- BEGIN HEADER -->
    <div class="header">
        <div class="container">
            <a class="site-logo" href="~/Views/Home/index.html"><img src="~/Images/logos/logo-corp-red.png" alt="Metronic FrontEnd"></a>
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation pull-right font-transform-inherit">
                <ul>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                            Home

                        </a>

                        <ul class="dropdown-menu">
                            <li class="active"><a href="~/Views/Home/index.html">Home Default</a></li>
                            <li><a href="~/Views/Home/index-header-fix.html">Home with Header Fixed</a></li>
                            <li><a href="~/Views/Home/index-without-topbar.html">Home without Top Bar</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-megamenu">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                            Mega Menu

                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="header-navigation-content">
                                    <div class="row">
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Footwear</h4>
                                            <ul>
                                                <li><a href="~/Contact/Index">Contacts</a></li>
                                                <li><a href="~/Views/Home/index.html">Basketball Shoes</a></li>
                                                <li><a href="~/Views/Home/index.html">Boots</a></li>
                                                <li><a href="~/Views/Home/index.html">Canvas Shoes</a></li>
                                                <li><a href="~/Views/Home/index.html">Football Boots</a></li>
                                                <li><a href="~/Views/Home/index.html">Golf Shoes</a></li>
                                                <li><a href="~/Views/Home/index.html">Hi Tops</a></li>
                                                <li><a href="~/Views/Home/index.html">Indoor Trainers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Clothing</h4>
                                            <ul>
                                                <li><a href="~/Views/Home/index.html">Base Layer</a></li>
                                                <li><a href="~/Views/Home/index.html">Character</a></li>
                                                <li><a href="~/Views/Home/index.html">Chinos</a></li>
                                                <li><a href="~/Views/Home/index.html">Combats</a></li>
                                                <li><a href="~/Views/Home/index.html">Cricket Clothing</a></li>
                                                <li><a href="~/Views/Home/index.html">Fleeces</a></li>
                                                <li><a href="~/Views/Home/index.html">Gilets</a></li>
                                                <li><a href="~/Views/Home/index.html">Golf Tops</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4 header-navigation-col">
                                            <h4>Accessories</h4>
                                            <ul>
                                                <li><a href="~/Views/Home/index.html">Belts</a></li>
                                                <li><a href="~/Views/Home/index.html">Caps</a></li>
                                                <li><a href="~/Views/Home/index.html">Gloves</a></li>
                                            </ul>
                                            <h4>Clearance</h4>
                                            <ul>
                                                <li><a href="~/Views/Home/index.html">Jackets</a></li>
                                                <li><a href="~/Views/Home/index.html">Bottoms</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                            Pages

                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="~/Views/Home/page-about.html">About Us</a></li>
                            <li><a href="~/Views/Home/page-services.html">Services</a></li>
                            <li><a href="~/Views/Home/page-prices.html">Prices</a></li>
                            <li><a href="~/Views/Home/page-faq.html">FAQ</a></li>
                            <li><a href="~/Views/Home/page-gallery.html">Gallery</a></li>
                            <li><a href="~/Views/Home/page-search-result.html">Search Result</a></li>
                            <li><a href="~/Views/Home/page-404.html">404</a></li>
                            <li><a href="~/Views/Home/page-500.html">500</a></li>
                            <li><a href="~/Views/Home/page-login.html">Login Page</a></li>
                            <li><a href="~/Views/Home/page-forgotton-password.html">Forget Password</a></li>
                            <li><a href="~/Views/Home/page-reg-page.html">Signup Page</a></li>
                            <li><a href="~/Views/Home/page-careers.html">Careers</a></li>
                            <li><a href="~/Views/Home/page-site-map.html">Site Map</a></li>
                            <li><a href="~/Views/Home/page-contacts.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                            Features

                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="~/Views/Home/feature-typography.html">Typography</a></li>
                            <li><a href="~/Views/Home/feature-buttons.html">Buttons</a></li>
                            <li><a href="~/Views/Home/feature-forms.html">Forms</a></li>

                            <li class="dropdown-submenu">
                                <a href="~/Views/Home/index.html">Multi level <i class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="~/Views/Home/index.html">Second Level Link</a></li>
                                    <li><a href="~/Views/Home/index.html">Second Level Link</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                                            Second Level Link
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/Views/Home/index.html">Third Level Link</a></li>
                                            <li><a href="~/Views/Home/index.html">Third Level Link</a></li>
                                            <li><a href="~/Views/Home/index.html">Third Level Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                            Portfolio

                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="~/Views/Home/portfolio-4.html">Portfolio 4</a></li>
                            <li><a href="~/Views/Home/portfolio-3.html">Portfolio 3</a></li>
                            <li><a href="~/Views/Home/portfolio-2.html">Portfolio 2</a></li>
                            <li><a href="~/Views/Home/portfolio-item.html">Portfolio Item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                            Blog

                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="~/Views/Home/blog.html">Blog Page</a></li>
                            <li><a href="~/Views/Home/blog-item.html">Blog Item</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Views/Home/shop-index.html" target="_blank">E-Commerce</a></li>
                    <li><a href="~/Views/Home/onepage-index.html" target="_blank">One Page</a></li>
                    <li><a href="http://keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank">Admin theme</a></li>
                    <!-- BEGIN TOP SEARCH -->
                    <li class="menu-search">
                        <span class="sep"></span>
                        <i class="fa fa-search search-btn"></i>
                        <div class="search-box">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                    <!-- END TOP SEARCH -->
                </ul>
            </div>
            <!-- END NAVIGATION -->
        </div>
    </div>
    <!-- Header END -->
    @RenderBody()

    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- BEGIN COPYRIGHT -->
                <div class="col-md-6 col-sm-6 padding-top-10">
                    2014 © Metronic Shop UI. ALL Rights Reserved. <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </div>
                <!-- END COPYRIGHT -->
                <!-- BEGIN PAYMENTS -->
                <div class="col-md-6 col-sm-6">
                    <ul class="social-footer list-unstyled list-inline pull-right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                    </ul>
                </div>
                <!-- END PAYMENTS -->
            </div>
        </div>
    </div>
    <!-- END FOOTER -->
    @Scripts.Render("~/bundles/scripts")
    <script src="~/Scripts/App/architecture.js"></script>
    <script src="~/Scripts/App/requireConfig.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initOWL();
            RevosliderInit.initRevoSlider();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling();
        });
    </script>
    @RenderSection("scripts", required: false)
    @RenderSection("inlinescripts", required: false)


    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>